<!DOCTYPE html>

<html>
	<head>
		<title>newpost</title>
	</head>	
		<link type="text/css" rel="stylesheet" href="/static/main.css" />

	<body>
		<h1>newpost</h1>

		<form method="post">
			<label>
				<div>subject</div>
				<input type="text" name="subject" value="{{subject}}">
			</label>

			<label>
				<div>blog</div>
				<textarea name="content">{{content}}</textarea>
			</label>

			<div class="newpost_error">{{newpost_error}}</div>

			<input type="submit">
		</form>
			

	</body>

</html>